* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}
nav {
  background: gray;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
}
nav .style-nav {
  background: linear-gradient(45deg, white, skyblue);
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.span {
  display: flex;
  align-items: center;
  color: black;
  font-size: 3rem;
  font-weight: 550;
}
nav .style-nav .logo {
  display: flex;
}
nav .style-nav .logo img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
nav .style-nav .navigates ul {
  display: flex;
  gap: 3rem;
}
nav .style-nav ul li a {
  font-size: 1.4rem;
  color: rebeccapurple;
  font-family: sans-serif;
  font-weight: 600;
  position: relative;
}
nav .style-nav ul li a::before {
  position: absolute;
  content: " ";
  border-bottom: 3px solid red;
  border-radius: 20px;
  margin-top: 1.7rem;
  width: 0%;
  transition: all 0.25s linear;
}

/* state change */
nav .style-nav ul li a:hover::before {
  color: white;
  width: 100%;
  border-bottom: 3px solid white;
}
@media (width<=740px) {
  nav .style-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .logo {
    gap: 0.5rem;
  }
  nav .style-nav .logo img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
  .span {
    display: flex;
    align-items: center;
    color: green;
    font-size: 2rem;
    font-weight: 600;
  }

  nav .style-nav ul li {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
@media (width<=360px) {
  nav .style-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .logo {
    gap: 0.5rem;
  }
  nav .style-nav .logo img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
  }
  .span {
    display: flex;
    align-items: center;
    color: green;
    font-size: 1.8rem;
    font-weight: 580;
  }

  nav .style-nav ul li a {
    font-size: 1rem;
    font-weight: 500;
  }
  nav .style-nav .navigates ul {
    gap: 1.6rem;
  }
}
